:root {
  // DARK MODE
  --global-dark-color: #222;
  --global-light-color: #fdfdfd;
  --global-text-color: var(--global-dark-color);
  --global-background-color: var(--global-light-color);
  // --global-alpha-color: #4169e1;

  // THEME COLOR
  --global-theme-color: orange;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --global-text-color: var(--global-light-color);
    --global-background-color: var(--global-dark-color);
  }
}
